.App {
  text-align: center;
  position: relative;
  min-height: 100%;
}

.container{
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 0;
  overflow-y: auto;
}
.wrap{
  min-height: 100%;
  width: 100%;
  display: table;
}
/*.clearfix::after{
  clear: both;
  content: '';
  height: 0;
  display: table;
}*/